<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
autoReload="true"
throwExceptions="false"
internalLogLevel="Off"
archiveNumbering="Sequence"
internalLogFile="\temp\nlog-internal.log">

	<variable name="Environment" value="DEFAULT"/>
	<variable name="AppName" value="DEFAULT"/>
	<variable name="AssemblyVersion" value="DEFAULT"/>
	<variable name="CodeProject" value="DEFAULT"/>

	<targets>
		<!--  Informações -->
		<target xsi:type="ColoredConsole"
							   name="LogInConsole"
							   layout="${message}" />

		<target xsi:type="RetryingWrapper" name="RetryWrapper" retryCount="2">
			<target xsi:type="Network"
								   name="LogStash"
								   address="tcp://slap2261:4560"
								   keepConnection="true"
								   newLine="True"
								   layout="${message}" >
			</target>
		</target>
		<!--  /Informações -->
	</targets>
	<rules>
		<logger name="*" level="Info" writeTo="LogInConsole" />
		<logger name="*" level="Info" writeTo="LogStash" />
	</rules>

</nlog>